html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita rolagem */
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* MapSession.css */
.airplane-icon {
    width: 32px;
    height: 32px;
    background-image: url('../assets/airplane_user.png'); /* URL do ícone */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center center; /* Rotaciona em torno do centro */
    display: inline-block; /* Assegurar que é um bloco inline para a rotação */
    
}

.zulu-clock {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

  
  .special-airplane-icon {
    background-image: url('../assets/airplane.png');
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  
  .va-airplane-icon {
    background-image: url('../assets/airplane_va_vo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  
  .online-airplane-icon {
    background-image: url('../assets/airplane_stremer.png'); /* Ícone para usuários online */
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  
  .staff-airplane-icon {
    background-image: url('../assets/airplane_staff.png'); /* Ícone para usuários staff */
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .username-large {
    font-size: 1.5rem; /* Tamanho da fonte - ajuste conforme necessário */
    font-weight: bold; /* Deixa o texto em negrito */
    
  }

  .custom-aircraft-icon {
    background-image: url('../assets/airplane_ge.png'); /* Ícone para usuários staff */
    background-size: cover;
    width: 20px;
    height: 20px;
  }