html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita rolagem */
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* MapSession.css */
.airplane-icon {
    width: 32px;
    height: 32px;
    background-image: url('../assets/airplane.png'); /* URL do ícone */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center center; /* Rotaciona em torno do centro */
    display: inline-block; /* Assegurar que é um bloco inline para a rotação */
    
}

.zulu-clock {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

  
  .special-airplane-icon {
    background-image: url('../assets/airplane.png');
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  
  .va-airplane-icon {
    background-image: url('../assets/airplane_va_vo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  
  .online-airplane-icon {
    background-image: url('../assets/airplane_stremer.png'); /* Ícone para usuários online */
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  
  .staff-airplane-icon {
    background-image: url('../assets/airplane_staff.png'); /* Ícone para usuários staff */
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .username-large {
    font-size: 1.5rem; /* Tamanho da fonte - ajuste conforme necessário */
    font-weight: bold; /* Deixa o texto em negrito */
    
  }

  .custom-aircraft-icon {
    background-image: url('../assets/06.png'); /* Ícone para usuários staff */
    background-size: cover;
    width: 18px;
    height: 18px;
  }

  .santa-marker-icon {
      width: 100px; /* Bigger than planes */
      height: 100px;
      /* Use Sleigh/Staff image as base */
      background-image: url('../assets/papainoel.png'); 
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      /* Ensure rotation works around center */
      transform-origin: center center;
      z-index: 1000; /* On top of planes */
      cursor: pointer;
  }

  .large-aircraft-icon {
    background-image: url('../assets/A225.png');
    background-size: cover;
    width: 32px; /* Slightly larger for widebodies */
    height: 32px;
  }

  .fighter-aircraft-icon {
    background-image: url('../assets/04.png');
    background-size: contain;
    width:24px; /* Slightly smaller/agile look */
    height: 24px;
  }

  /* Staff Variants */
  .staff-ge-icon {
    background-image: url('../assets/staff_ge.png');
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .staff-medium-icon {
    background-image: url('../assets/staff_medio.png');
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .staff-large-icon {
    background-image: url('../assets/staff_grande.png');
    background-size: cover;
    width: 36px;
    height: 36px;
  }

  .military-cargo-icon {
    background-image: url('../assets/A400.png');
    background-size: contain;
    width: 30px; /* Distinct styling */
    height: 30px;
  }


